# Config file example from mysql container

# This group is read both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]
port=3306
datadir=/var/lib/mysql

# Allow you to connect to any IP addresses available, don't forget to disable skip-networking if you want to allow remote connections as well
bind-address= 0.0.0.0
skip-networking= false

# Binary log contains “events” that describe database changes. It's used for replications and certain data recovery operations. The events in the binary log bring databases up to date from the point of the backup.
# don't forget to mkdir /var/mysql/mysql-bin
#log-bin= /var/lib/mysql/mysql-bin

# On Unix-like systems, this is the name of the socket file used for local client connections, by default /tmp/mysql.sock, often changed by the distribution, for example /var/lib/mysql/mysql.sock. Here, mysql try to connect to local MySQL server through socket '/run/mysqld/mysqld.sock'.
#socket=/run/mysqld/mysqld.sock

